<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sorte.Com</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="sorte.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<img class="background-image" src="fundoSorte.jpg" alt="Imagem de Fundo" />

<div class="container">
    <h1>Sorteio.Com</h1>
    <div id="conteudo-formulario">
        <label for="quantidade">Quantidade de Números:</label>
        <input type="number" id="quantidade" min="1" value="1" />

        <label for="minimo">Valor Mínimo:</label>
        <input type="number" id="minimo" min="1" value="1" />

        <label for="maximo">Valor Máximo:</label>
        <input type="number" id="maximo" min="1" value="10" />

        <h2>Opções</h2>
        <div class="styled-select">
            <span class="select-label">Ordenar Resultados</span>
            <select id="ordenar">
                <option value="asc">Ascendente</option>
                <option value="desc">Descendente</option>
            </select>
        </div>

        <div class="styled-select">
            <span class="select-label">Permitir Repetições</span>
            <select id="repeticoes">
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>
        </div>

        <button id="sortear">Sortear</button>
    </div>
    <div id="conteudo-resultados"></div>
    <div class="resultado-item" id="resultado"></div>
    <div id="hora-sorteo" class="info"></div>
    <div id="qtd-sorteada" class="info"></div>
    <div id="intervalo-sorteado" class="info"></div>
    <div>
        <button id="novo-sorteio">Fazer outro sorteio</button>
    </div>
</div>
</body>
</html>
